body {
	background: rgb(236, 236, 236);
}

div#space {
	width: 600px;
	height: 450px;
	background: white;
	margin: 0 auto;
	padding: 30px;	
	border-radius: 5px;
}

div#main {
	background: rgb(236, 236, 236);
	border-radius: 3px;
	margin: 0 auto;
	padding: 24px 18px 34px 18px;
}

div.icons {
	padding: 40px 55px;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 21px;
	color: rgb(183, 183, 183);
}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 13px;	
	color: rgb(183, 183, 183);
}

button {
	display: inline-block;
	border: none;
	width: 60px;
	height: 60px;
	color: white;
	padding: 10px 10px;
	margin: 6px 0px 6px 8px;
	transition: .5s;
}

button:hover {
	transform: scale(1.1) translateZ(0);
	box-shadow: 0px 0px 15px black;
	border-radius: 4px;
}

button * {
	transform: translateZ(0);
}

button i {
	color: #fff;
}

button#facebook {background: rgb(59, 89, 152)}
button#twitter {background: rgb(85, 172, 238)}
button#instagram {background: rgb(255, 2, 125)}
button#github {background: #000000}
button#dropbox {background: rgb(85, 172, 238)}
button#youtube {background: rgb(255, 0, 0)}
button#yahoo {background: rgb(208, 22, 230)}
button#google {background: rgb(221, 75, 57)}
button#amazon {background: rgb(255, 245, 63)}
button#tumblr {background: rgb(55, 70, 93)}
button#whatsapp {background: rgb(0, 235, 0)}
button#skype {background: rgb(85, 172, 238)}
button#xbox {background: rgb(0, 235, 0)}
button#playstation {background: rgb(59, 89, 152)}
button#steam {background: #000000}
button#html5 {background: rgb(249, 108, 15)}
button#language-javascript {background: rgb(249, 108, 15)}
button#apple {background: rgb(101, 101, 101)}